@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

:root {
  --bg-main: #ecf2f8;
  --bg-secondary: #fff;
  --bg-dark: #48556a;

  --text-main: #48556a;
  --text-paragraph: #6e8098;
  --text-light: #9daec2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--bg-main);
  font-family: "Manrope", sans-serif;
}

main {
  padding: 0 2.4rem;
}
